extends layout.jade
<!-- 주석테스트 -->

block content
  script.
    $(document).ready(function () {
      
      var colorCode = "#" + Math.round(Math.random() * 0xffffff).toString(16);
      var colorCode2 = "#" + Math.round(Math.random() * 0xffffff).toString(16);
      
      $('#indexbutton').click(function(){
        if($('.index').width() < 200)
        { $('.index').css('width', '250px') }
        else
        { $('.index').css('width', '0px') }
      });     
      
      
      var clicked = 0;
      $('.dotsdiv').click(function(){
        
        
        if(clicked == 0)
        { 
          
          number = event.target.id;
          $('#dotsPopup').css('visibility', 'visible');
          
          var popupTextTitle = $('#title'+number).text();
          var popupTextDate = $('#Date'+number).text();
          var popupTextSum = $('#Sum'+number).text();          
          var popupAttacker = $('#attacker'+number).text();          
          $('#popupHead').text( popupTextTitle );
          $('#popupDate').text( "날짜 : " + popupTextDate );
          $('#popupSum').text( "우호지수 : " + popupTextSum );
          
          if( popupAttacker == '남성' ){    
              if ( popupTextSum >= 0 ){
                //alert(popupAttacker);
                $('#popupResult').text("남성 가해자에게 우호적"); }
              else {
                $('#popupResult').text("남성 가해자에게 적대적"); 
              }
              } 
          else { 
              if ( 
                popupTextSum >= 0 ){ $('#popupResult').text("여성 가해자에게 우호적"); 
              }
              else { 
                $('#popupResult').text("여성 가해자에게 적대적"); 
              }
          }
          
          
          clicked = 1;
        }   
      });
      
      $('#popupExit').click(function(){
        
        $('#dotsPopup').css('visibility', 'hidden') 
        clicked = 0;
        
      });
      
      if ($(window).width() < 985 )
      {  $('#contents').css('width', '99%');}
      else 
      {  $('#contents').css('width', '100%').css('width', '-=250px'); }

      
      if ($(window).width() < 985 )
      {  $('#head_TempDiv').css('width', '99%');}
      else 
      {  $('#head_TempDiv').css('width', '100%').css('width', '-=250px'); }

      $(window).resize(function() { 
        // 컨텐츠박스 리사이징 
        if ($(window).width() < 985 )
        {  
          $('#contents').css('width', '99%')
          $('.index').css('width', '0px') // index 리사이징
          $('#head_TempDiv').css('width', '99%');   
        }
        else 
        {  
          $('.index').css('width', '250px') // index 리사이징  
          $('#contents').css('width', '100%').css('width', '-=250px'); //컨텐츠박스 리사이징 
          $('#head_TempDiv').css('width', '100%').css('width', '-=250px');
        }
      });
      
      /*
      $('.legendMale').css('background-color', colorCode);
      $('#dots3남성').css('background-color', colorCode);
      $('#dots2남성').css('background-color', colorCode);
      $('#dots1남성').css('background-color', colorCode);
      $('#dots0남성').css('background-color', colorCode);
      $('#dots-1남성').css('background-color', colorCode);
      $('#dots-2남성').css('background-color', colorCode);
      
      $('.legendFemale').css('background-color', colorCode2);
      $('#dots2여성').css('background-color', colorCode2);
      $('#dots1여성').css('background-color', colorCode2);
      $('#dots0여성').css('background-color', colorCode2);
      $('#dots-1여성').css('background-color', colorCode2);
      $('#dots-2여성').css('background-color', colorCode2);*/
    });

  style.
    #contents{
      
      transform : rotate(-6deg);
      
      float : right;
      //height : 500%;
      background-color : white;
      text-align : center;
      
      transition : 0s;
      //pointer-events:none;
    }
    
    #content_head{
      
      width : 100%;
      height : 180px;
      
      border-bottom-width : 1px;
      border-bottom-style : dotted;
      border-bottom-color : black;
      
    }
    
    #head_TempDiv{
      z-index : 2;
      position : absolute;
      height : 150px;
      text-align : center;
    }
    
    #head_Title{
      padding-top : 80px;  
      font-size: 32px;
      font-weight: bold;
      font-kerning: auto;
      line-height : 25.5px;
      letter-spacing: -1px;
      text-shadow: 5px 5px 5px lightGray;
      
      color : black;
    }
    
    #headimage{
      z-indes : -10;
      position : absolute;
      margin-left : -250px;
      width : 100%;
      height : 200px;
      overflow : hidden;
    
    }
    
    .image{
      z-indes : -10;
      width : 100%;
      height : auto;
    }
    
    
    #content_Main{
      display : inline-block;
      width : 75%;
      height : 120%;
      text-align : left;
      margin-top : 20px;
      
      background-color : white;
    }
    
    .content_P{
      padding : 2px;
      padding-top : 8px;
      padding-bottom : 0px;
      height : auto;
      
      font-size: 18px;
      font-weight: thin;
      font-kerning: auto;
      line-height : 36.5px;
      letter-spacing: -1px;
      
      color : rgb(120,120,120); 
    }
    
    .contentHR{
      margin-top : 30px;
      margin-bottom : 20px;
    }
    
    #title{
      font-weight: bold;
      width : 80%;
    }
    
    #name {
      font-weight : light;
      font-size : 16px;
      width : 80%;
    }
    
    .legend{
      float : right;
      width : 200px;
      height : 80px;
      margin-right : -30px;
      margin-top : -85px;
    }
    .legendBlock{
      display : inline-block;
      width : 90px;
      height : 35px;
      margin-top : 10px;
      margin-left : 10px;
    }
    
    .legendMale{
      margin-left : -30px;
      margin-bottom : -35px;
      width : 20px;
      height : 20px;
      background-color : #D6A470;
      opacity : 0.75;
    }
    .legendFemale{
      margin-left : -30px;
      margin-bottom : -35px;
      width : 20px;
      height : 20px;
      background-color : #803FB5;
      opacity : 0.75;
    }
    .legendGood{
      margin-left : -30px;
      margin-bottom : -35px;
      width : 20px;
      height : 20px;
      background-color : lightGray;
      border-radius : 10px;
    }
    .legendBad{
      margin-left : -30px;
      margin-bottom : -35px;
      width : 20px;
      height : 20px;
      background-color : lightGray;
    }
    
    #video-wrap {
      z-index = 10;
      margin-top : 80px;
      margin-bottom : 35px;
      
      margin-left : 0.7%;
      width : 98%;
      
      position : relative; 
      padding-bottom : 56.25%; 
      padding-top : 30px; 
      height : 0; 
      overflow : hidden;
    }
    #video-wrap iframe,
    #video-wrap object,
    #video-wrap embed {
      position : absolute; 
      top : 0; 
      left : 0; 
      width : 100%; 
      height : 100%;
    }

    #DetailYoutube{
        position : absolute;
    }
    
    .Bottom{
      margin-top : 100px;
      height : 100px;
    }
    
    
    .dots{
      list-style :none;
      margin : 10px;
      height : 20px;
      width : 20px;
      border-radius:10px;
      float : left;
      
      background-color : black;  
    }
    
    #dots0남성{
      background-color: #D6A470;
      opacity : 0.1;
    }
    
    #dots1남성{
      background-color: #D6A470;
      opacity : 0.65;
    }
    
    #dots2남성{
      background-color: #D6A470;
      opacity : 1;
    }
    
    #dots3남성{
      background-color: #FFC04F;
      opacity : 1;
    }
    
    #dots-1남성{
      background-color: #D6A470;
      opacity : 0.65;
      border-radius : 0px;
    }
    
    #dots-2남성{
      background-color: #D6A470;
      opacity : 1;
      border-radius : 0px;
    }
    
    
    #dots0여성{
      background-color : #803FB5;
      opacity : 0.1;
    }
    
    #dots1여성{
      background-color : #803FB5;
      opacity : 0.65;
    }
    
    #dots2여성{
      background-color : #803FB5;
      opacity : 1;
    }
    
    #dots-1여성{
      background-color : #803FB5;
      opacity : 0.65;
      border-radius : 0px;
    }
    
    #dots-2여성{
      background-color : #803FB5;
      opacity : 1;
      border-radius : 0px;
    }
    
    #dotsContainer{
      
      margin :10;
      padding :0;
      position : relative; 
    }
    
    .dotsdiv{
        background-color : 0,0,1;
        z-index = 30;
        pointer-events: fill;
    }
    
    .dotsContainerDiv{
      
      // 넓이 지정하면 dots들이 좁아짐
      
    }
    
    #dotsPopup{
      
      position : absolute;
      
      width : 60%;
      height : 300px;
      z-index = 1;
      background-color : white;
      text-align : center;
      //pointer-events: none;
      border-width : thin;
      border-style : solid;
      border-color : lightGray;
      
      box-shadow : 20px 20px 20px lightGray;
      visibility : hidden;
    }
    
    #popupExit{
      float : right;
      background-color : red;
      width : 25px;
      height : 25px;
      margin : 10px;
      border-radius : 20px;
      pointer-events: fill;
    }
    
    #popupDate{
      float : left;
      height : 25px;
      margin-left : 20px;
      margin-top : -4px;
      
      font-size : 16px;
    }
    
    
    #popupHead{
        margin-top : 22px;
        margin-bottom : 25px;
        margin-right : 25px;
        margin-left : 25px; 
        font-weight: bold;
        font-size : 34px;
        color : black;
    }
    
    
    #popupSum{
      
        font-weight: bold;
        color : black;
        margin=bottom : 10px;
    }
    
    .nondisplayContents{
        visibility : hidden;
    }
    
    @media (max-width:980px) {
      #contents{
        width : 99%;
        margin-right : 0.5%;
      }
      
      #content_head{
        height : 200px;
      }
      
      #headimage{
        height : 250px;
      }
      
      #content_Main{
        width : 90%;
        padding-left : 4.5%;
        padding-right : 4.5%;
      }
      
      #headimage{
        width : 99%;
        margin-left : 0px;
      }
      
      #head_Title{
        font-size : 28px;
      }
      
      #title{
        font-size : 20px;
      }
      
      #name{
        font-size : 20px;
      }
      
      .contentHR{
        margin-top : 25px;
        margin-bottom : 25px;
      }
      
      #video-wrap{
        margin-top : 45px;
        margin-bottom : 0px;
        padding-bottom : 90%; 
      }
      
      #dotsPopup{
        
        width : 88%;
        
      }
    
    }
    
  div#contents
    div#content_head
      div#headimage
        //img.image(src='/Posts/13/index1title.png')
      div#head_TempDiv
        p#head_Title 분류. 살인 (Murder)
    div#content_Main
      div.content_P
        p.content_P#title 살인사건을 다룬 뉴스 기사의 성별 기울기  
        p.content_P#name 2020.12월~2020.10월 총 #{pageData.length}건의 기사
        div.legend
          div.legendBlock
            div.legendMale
            p.content_P 남성
          div.legendBlock
            div.legendFemale
            p.content_P 여성
          div.legendBlock
            div.legendGood
            p.content_P 우호적
          div.legendBlock
            div.legendBad
            p.content_P 적대적
      div.content_P
        hr.contentHR
        div.dotsContainerDiv
          ul#dotsContainer
          -for (var i = 0; i<pageData.length; i++)
            li(class = 'dots' id = 'dots'+pageData[i]['Sum']+pageData[i]['attacker']) 
              div(class='dotsdiv' id = i)
                p(class = 'nondisplayContents' id = 'title' + i) #{pageData[i]['title']}
                p(class = 'nondisplayContents' id = 'Sum' + i) #{pageData[i]['Sum']}
                p(class = 'nondisplayContents' id = 'Date' + i) #{pageData[i]['date']}
                p(class = 'nondisplayContents' id = 'attacker' + i) #{pageData[i]['attacker']}
        div#dotsPopup 
          div#popupExit  
          p.content_P#popupDate 20201216
          p.content_P <br>
          p.content_P#popupHead 테스트 타이틀 <br>
          p.content_P#popupSum 우호지수 : 
          p.content_P#popupResult 테스트텍스트
          
            
        
